<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jyd.mapper.TPortalUserMapper">

    <resultMap type="com.jyd.entity.TPortalUser" id="TPortalUserMap">
        <result property="id" column="id" jdbcType="VARCHAR"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
        <result property="createUser" column="create_user" jdbcType="VARCHAR"/>
        <result property="updateUser" column="update_user" jdbcType="VARCHAR"/>
        <result property="status" column="status" jdbcType="INTEGER"/>
        <result property="deleted" column="deleted" jdbcType="INTEGER"/>
        <result property="account" column="account" jdbcType="VARCHAR"/>
        <result property="password" column="password" jdbcType="VARCHAR"/>
        <result property="telephone" column="telephone" jdbcType="VARCHAR"/>
        <result property="mark" column="mark" jdbcType="VARCHAR"/>
        <result property="headerImage" column="header_image" jdbcType="VARCHAR"/>
    </resultMap>

    <!--查询单个-->
    <select id="queryById" resultMap="TPortalUserMap">
        select id,
               create_time,
               update_time,
               create_user,
               update_user,
               status,
               deleted,
               account,
               password,
               telephone,
               mark,
               header_image
        from jydboot.t_portal_user
        where id = #{id}
    </select>

    <!--查询指定行数据-->
    <select id="queryAllByLimit" resultMap="TPortalUserMap">
        select id,
               create_time,
               update_time,
               create_user,
               update_user,
               status,
               deleted,
               account,
               password,
               telephone,
               mark,
               header_image
        from jydboot.t_portal_user
        limit #{offset}, #{limit}
    </select>

    <!--通过实体作为筛选条件查询-->
    <select id="queryAll" resultMap="TPortalUserMap">
        select
        id, create_time, update_time, create_user, update_user, status, deleted, account, password, telephone, mark,
        header_image
        from jydboot.t_portal_user
        <where>
            <if test="id != null and id != ''">
                and id = #{id}
            </if>
            <if test="createTime != null">
                and create_time = #{createTime}
            </if>
            <if test="updateTime != null">
                and update_time = #{updateTime}
            </if>
            <if test="createUser != null and createUser != ''">
                and create_user = #{createUser}
            </if>
            <if test="updateUser != null and updateUser != ''">
                and update_user = #{updateUser}
            </if>
            <if test="status != null">
                and status = #{status}
            </if>
            <if test="deleted != null">
                and deleted = #{deleted}
            </if>
            <if test="account != null and account != ''">
                and account = #{account}
            </if>
            <if test="password != null and password != ''">
                and password = #{password}
            </if>
            <if test="telephone != null and telephone != ''">
                and telephone = #{telephone}
            </if>
            <if test="mark != null and mark != ''">
                and mark = #{mark}
            </if>
            <if test="headerImage != null and headerImage != ''">
                and header_image = #{headerImage}
            </if>
        </where>
    </select>

    <!--新增所有列-->
    <insert id="insert" keyProperty="id" useGeneratedKeys="true">
        insert into jydboot.t_portal_user(create_time, update_time, create_user, update_user, status, deleted, account,
                                          password, telephone, mark, header_image)
        values (#{createTime}, #{updateTime}, #{createUser}, #{updateUser}, #{status}, #{deleted}, #{account},
                #{password}, #{telephone}, #{mark}, #{headerImage})
    </insert>

    <insert id="insertBatch" keyProperty="id" useGeneratedKeys="true">
        insert into jydboot.t_portal_user(create_time, update_time, create_user, update_user, status, deleted, account,
        password, telephone, mark, header_image)
        values
        <foreach collection="entities" item="entity" separator=",">
            (#{entity.createTime}, #{entity.updateTime}, #{entity.createUser}, #{entity.updateUser}, #{entity.status},
            #{entity.deleted}, #{entity.account}, #{entity.password}, #{entity.telephone}, #{entity.mark},
            #{entity.headerImage})
        </foreach>
    </insert>

    <insert id="insertOrUpdateBatch" keyProperty="id" useGeneratedKeys="true">
        insert into jydboot.t_portal_user(create_time, update_time, create_user, update_user, status, deleted, account,
        password, telephone, mark, header_image)
        values
        <foreach collection="entities" item="entity" separator=",">
            (#{entity.createTime}, #{entity.updateTime}, #{entity.createUser}, #{entity.updateUser}, #{entity.status},
            #{entity.deleted}, #{entity.account}, #{entity.password}, #{entity.telephone}, #{entity.mark},
            #{entity.headerImage})
        </foreach>
        on duplicate key update
        create_time = values(create_time) , update_time = values(update_time) , create_user = values(create_user) ,
        update_user = values(update_user) , status = values(status) , deleted = values(deleted) , account =
        values(account) , password = values(password) , telephone = values(telephone) , mark = values(mark) ,
        header_image = values(header_image)
    </insert>

    <!--通过主键修改数据-->
    <update id="update">
        update jydboot.t_portal_user
        <set>
            <if test="createTime != null">
                create_time = #{createTime},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime},
            </if>
            <if test="createUser != null and createUser != ''">
                create_user = #{createUser},
            </if>
            <if test="updateUser != null and updateUser != ''">
                update_user = #{updateUser},
            </if>
            <if test="status != null">
                status = #{status},
            </if>
            <if test="deleted != null">
                deleted = #{deleted},
            </if>
            <if test="account != null and account != ''">
                account = #{account},
            </if>
            <if test="password != null and password != ''">
                password = #{password},
            </if>
            <if test="telephone != null and telephone != ''">
                telephone = #{telephone},
            </if>
            <if test="mark != null and mark != ''">
                mark = #{mark},
            </if>
            <if test="headerImage != null and headerImage != ''">
                header_image = #{headerImage},
            </if>
        </set>
        where id = #{id}
    </update>

    <!--通过主键删除-->
    <delete id="deleteById">
        delete
        from jydboot.t_portal_user
        where id = #{id}
    </delete>

</mapper>

